<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<script async src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script async src="/assets/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        // Target .container, .wrapper, .post, etc. //
        $(".post").fitVids();
      });
</script>

    {% include header.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include footer.html %}

  	<!-- Twitter card here -->
  
     

  </body>

</html>
